apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-ingress-gateway-config
  namespace: istio-ingress
data:
  deployment: |
    spec:
      template:
        spec:
          securityContext:
            seccompProfile:
              type: RuntimeDefault
  service: |
    spec:
      type: NodePort
      ports:
        - name: http
          port: 80
          protocol: TCP
          targetPort: 80
          nodePort: 30080
  serviceAccount: |
    automountServiceAccountToken: true
