apiVersion: v1
kind: Service
metadata:
  name: transaction-service
  namespace: default
  labels:
    app: transaction-service
spec:
  type: ClusterIP
  selector:
    app: transaction-service
  ports:
  - name: http
    port: 8082
    targetPort: 8082
    protocol: TCP
