apiVersion: v1
kind: Service
metadata:
  name: nginx-gateway
  namespace: default
  labels:
    app: nginx-gateway
spec:
  type: ClusterIP
  selector:
    app: nginx-gateway
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
