apiVersion: v1
kind: Service
metadata:
  name: permission-service
  namespace: default
  labels:
    app: permission-service
spec:
  type: ClusterIP
  selector:
    app: permission-service
  ports:
  - name: http
    port: 8086
    targetPort: 8086
    protocol: TCP
