apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: budgetanalyzer-org-public
  namespace: default
spec:
  secretName: budgetanalyzer-org-tls
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-prod
  dnsNames:
    - "__DEMO_DOMAIN__"
  privateKey:
    algorithm: RSA
    size: 2048
  usages:
    - digital signature
    - key encipherment
  renewBefore: 360h
