apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: api-route
  namespace: default
spec:
  parentRefs:
  - name: ingress-gateway
  hostnames:
  - "api.budgetanalyzer.localhost"
  rules:
  - backendRefs:
    - name: nginx-gateway
      port: 8080
