apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: app-route
  namespace: default
spec:
  parentRefs:
  - name: ingress-gateway
  hostnames:
  - "app.budgetanalyzer.localhost"
  rules:
  - backendRefs:
    - name: session-gateway
      port: 8081
